@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('header_font.css');
@import url('ul_font.css');
.Logo img{
    width: 150px;
    display: inline;
    align-items: center;
    margin-left: 160px;
}
body{
    background-image: url('/1/Discord\ Replica/mainbg3.png');
    background-repeat: no-repeat;
    background-color: #80aaff;
    background-position: top;
    margin: 0;
    background-size: 110%;
}
nav{
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: inline-flex;
    margin: 0%;
    list-style-type: none;
    padding-left: 0%;
    text-align: center;
    color: #80aaff;
    letter-spacing: 0;
    font-family: 'multicolore_regular';
}
li{
    margin: 0 40px;
    
}
a:link{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    text-decoration: underline;
    color: whitesmoke;
}
a:active{
    text-decoration: none;
    color: whitesmoke;
}
a:visited{
    text-decoration: none;
    color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0%;
    font-size: 80px;
    font-family: 'nimbus_sans_becker_pblaRg';
    letter-spacing: 4px;
    color: white;
}
p{
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
    margin-bottom: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: black;
    margin-left: 100px;
    margin-top: 250px;
    font-size: 60px;
    font-family: 'nimbus_sans_becker_pblaRg';
    text-shadow: black;
    letter-spacing: 4px;
}
#button1{
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-right: 160px;
}
#button1:hover{
    color: #80aaff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button2{
    font-size: 17px;
    padding: 14px;
    border-radius: 50px;
    border: none;
    background-color: #80aaff;
    color: whitesmoke;
    margin-left: 42.5%;
    margin-top: 40px;
}
#button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#clyde{
    height: 500px;
    width: 600px;
    margin-left: 100px;
}
#lol{
    margin-top: 500px;
    display: flex;
}